body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(225, 225, 225);
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.mid-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  width: 66px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-button,
.upload-div,
.apps-div,
.notifications-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-div .tooltip,
.apps-div .tooltip,
.notifications-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-div:hover .tooltip,
.apps-div:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(248, 248, 248);
}

.voice-icon {
  height: 24px;
}

.right-section {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.notifications-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 100000px;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 1000000000000000000;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link p {
  font-size: 10px;
}

.my-channel {
  height: 32px;
  border-radius: 10000px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  color: white;
  background-color: black;
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px; 
  border-radius: 2px;
}

.video-thumbnail {
  width: 100%;
  display: block;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-channel {
  width: 36px;
  border-radius: 2000px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  color: black;
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 6px;
}

a {
  display: block;
  text-decoration: none;
}

.author {
  position: relative;
}

.author .tooltip {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  position: absolute;
  display: flex;
  width: 250px;
  background-color: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.author:hover .tooltip {
  opacity: 1;
}

.tooltip-pic {
  width: 60px;
  height: 60px;
  border-radius: 100000px;
  margin-right: 10px;
}

.tooltip-info {
  flex: 1;
}

.tooltip-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}

.tooltip-subs {
  color: rgb(100, 100, 100);
}